node_modules/**/*
RCTAVPlayer.xcodeproj/xcuserdata/**/*
RCTAVPlayer.xcodeproj/project.xcworkspace/**/*
Examples/VideoPlayer/node_modules/**/*
Examples/VideoPlayer/VideoPlayer.xcodeproj/project.xcworkspace/**/*
Examples/VideoPlayer/VideoPlayer.xcodeproj/xcuserdata/**/*
npm-debug.log
.DS_Store
