@import '@widlarzgroup/docusaurus-ui/css/custom.css';

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */