*.binlog
*.hprof
*.xcworkspace/
*.zip
.DS_Store
.bundle/*
!.bundle/config
.gradle/
.idea/
.vs/
.watchman-*
.xcode.env
android/app/
android/build/
dist/*
!dist/.gitignore
ios/DerivedData/
ios/Pods/
ios/build/
local.properties
macos/DerivedData/
macos/Pods/
macos/build/
node_modules/
