{
  "plugins": ["@typescript-eslint"],
  "extends": [
    "@react-native",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "requireConfigFile": false
  }
}
